@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-fundo: #00182C;
    --cor-fundo2: #001425;
    --cor-detalhes: #D8A32D;
    --cor-letra: #D3D3D3;
    --cor-titulo: #FFFFFF;
    --cor-rodape-fundo: #01213D;
}

/* ======= CONFIGURAÇÃO GERAL ======= */
body {
    margin: 0;
    font-family: "Playfair Display", serif;
    font-style: normal;
    background-color: var(--cor-fundo);
    color: var(--cor-letra);
}

h2 {
    color: var(--cor-detalhes);
    font-size: 2rem;
    margin: 20px 50px;
    font-family: 'Playfair Display', serif;
}

/* ======= NAVBAR ======= */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 140px;
}

.logo a {
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 100px;
}

.nav-links li a {
    text-decoration: none;
    color: var(--cor-detalhes);
    font-weight: 100;
}

.nav-links li a:hover {
    filter: brightness(0) invert(1) drop-shadow(0 0 5px gold);
}

.nav-icons {
    display: flex;
    gap: 25px;
}

.nav-icons img {
    height: 24px;
    cursor: pointer;
}

.nav-icons img:hover {
    filter: brightness(0) invert(1) drop-shadow(0 0 5px gold);
}
/* ======= QUEM SOMOS ======= */
.sobre {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 50px;
}

.sobre img {
    width: 350px;
    border-radius: 5px;
}

.sobre p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 600px;
}

/* ======= TEXTO EXTRA ======= */
.texto-extra {
    padding: 0 50px 30px;
}

.texto-extra strong {
    color: var(--cor-detalhes);
    font-weight: bold;
}

.texto-extra ul {
    padding-left: 20px;
}

/* ======= LIGAS ======= */
.ligas {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

/* ======= MARCAS + TEXTO ======= */
.marcas {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

.marca-texto img {
    width: 300px;
    border-radius: 5px;
}
.marca-texto strong {
    color: var(--cor-detalhes);
}

.marca-texto p,
.marca-texto ul {
    margin-left: 2%;
    font-size: 1rem;
    line-height: 1.6;
}


.compra-segura {
    display: flex;
    align-items: center;
    color: white;
    padding: 20px;
    gap: 20px;
}

.texto {
    flex: 1;
}

.texto h3 {
    color: var(--cor-detalhes); 
}

.imagem {
    background-color: var(--cor-rodape-fundo);
    padding: 30px 30px;
    border-radius: 5px;
}

.imagem img {
    display: block;
    max-width: 300px;
    height: auto;
}

/* Rodapé */
footer {
    background-color: var(--cor-rodape-fundo);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 2px solid #FFFFFF;
    padding: 30px 20px;
    font-size: 0.9rem;
}

footer h4 {
    color: var(--cor-titulo);
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 22px;
}

footer a {
    color: var(--cor-letra);
    opacity: 0.8;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

footer p {
    color: var(--cor-letra);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

footer #amarelo {
    color: var(--cor-detalhes);
    font-size: 12px;
}

.contatos img.icon {
    width: 12px;
    vertical-align: middle;
    margin-right: 8px;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
}

.social-icons img {
    width: 20px;
    margin-right: 10px;
}

.pagamento img {
    width: 220px;
    margin: 5px;
}
